html, body {
    margin: 0;
    padding: 0;
    background: black;
}

#screen {
    position: absolute;
}

#directions {
    opacity: 0.3;

    &:hover {
        opacity: 1;
    }
}
    #control-up {
        position: absolute;
        bottom: 65px;
        left: 35px;
        width: 30px;
    }
    #control-down {
        position: absolute;
        bottom: 0;
        left: 35px;
        width: 30px;
    }
    #control-left {
        position: absolute;
        bottom: 35px;
        left: 5px;
        width: 30px;
    }
    #control-right {
        position: absolute;
        bottom: 35px;
        left: 65px;
        width: 30px;
    }


#presets {
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 0;

    li {
        width: auto;
    }
}

#config {
    position: absolute;
    bottom: 5px;
    right: 5px;

    .ui-checkbox {
        display: inline-block;
    }
}

