module.exports = {
    // Title
    title: 'Camera 1',

    /
    // Server
    hostname: '127.0.0.1',
    port: 80,
    login: 'foo',
    password: 'bar',

    // The path of the snapshots
    snapshotsPath: '/home/ftp/camera/snap',

    // Keep the last 10 images in the snapshots directory
    limit: 10,

    // The archives directory
    archivePath: '/home/archives'

};
